* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: khaki;
}

*p {
    font-family: 'Oswald', sans-serif;
}

.box {
    padding: 3px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 45rem;
    height: 25rem;
    box-shadow: 6px 6px 6px 6px rgb(255, 0, 0);
    background-color: rgb(255, 250, 210);
    border-radius: 30px;
    transition-duration: .5s;
}

.box:hover {
    padding: 10px 10px;
}

.box img {
    display: block;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

.text p {
    font-family: 'Oswald', sans-serif;
    margin: 0px 100px;
    color: black;
    text-align: center;
}

/* New content */
h2 {
    font-family: 'Titillium Web', sans-serif;
    color: red;
    text-align: center;
    font-size: xx-large;
}

a svg {
    width: 25px;
    height: 25px;
}

.social-tags {
    text-align: center;
}

.social-tags a svg {
    padding: 40px 40px;
    transition-duration: .5s;
}

.social-tags a :hover {
    fill: brown;
}

#about-me {
    margin-top: 20px;
}

/* responsive content */
@media screen and (max-width:505px) {
    body {
        background-color: khaki;
    }

    .box {
        /* border: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 40%;
        height: 10rem;
        box-shadow: 6px 6px 6px 6px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 30px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 10px 10px;
    }

    .box img {
        display: block;
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        /* margin: -19px 10px; */
        color: black;
        text-align: center;
        font-size: small;
    }

    #about-me {
        margin-top: 20px;
    }

}



@media screen and (max-width:730px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 25rem;
        height: 15rem;
        box-shadow: 4px 4px 4px 4px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 30px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 10px 10px;
    }

    .box img {
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        margin: 10px 10px;
        color: black;
        text-align: center;
    }

    /* New content */
    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: large;
    }

    a svg {
        width: 25px;
        height: 25px;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        padding: 10px 10px;
        transition-duration: .5s;
    }

    .social-tags a :hover {
        fill: brown;
    }

    #about-me {
        margin-top: 20px;
    }

}



@media screen and (max-width:320px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 10rem;
        height: 13rem;
        box-shadow: 3px 3px 3px 3px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 30px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 10px 10px;
    }

    .box img {
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        margin: 0px 10px;
        color: black;
        text-align: center;
    }



    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        width: 12px;
        height: 50px;
        /* padding: 10px 10px; */
        transition-duration: .5s;
    }

    .social-tags a :hover {
        fill: brown;
    }

    #about-me {
        margin-top: 10px;
    }
}



@media screen and (max-width:440px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 15rem;
        height: 14rem;
        box-shadow: 2px 2px 2px 2px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 30px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 10px 10px;
    }

    .box img {
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        margin: 13px 1px;
        color: black;
        text-align: center;
    }

    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: medium;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        width: 15px;
        height: 50px;
        /* padding: 10px 10px; */
        transition-duration: .5s;
    }

    .social-tags a :hover {
        fill: brown;
    }

    #about-me {
        margin-top: 10px;
    }
}


@media screen and (max-width:250px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 7rem;
        height: 6rem;
        box-shadow: 1px 1px 1px 1px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 20px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 7px 7px;
    }

    .box img {
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        font-size: .6rem;
        margin: 13px 1px;
        color: black;
        text-align: center;
    }

    /* New content */
    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: xx-small;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        -webkit-tap-highlight-color: transparent;
        width: 8px;
        height: 8px;
        padding: 5px 0px;
        transition-duration: .5s;
    }

    .social-tags a {
        -webkit-tap-highlight-color: transparent;
    }

    .social-tags a :hover {
        fill: brown;
    }
}


@media screen and (max-width:204px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 7rem;
        height: 5em;
        box-shadow: 0.5px 0.5px 1px 1px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 10px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 5px 5px;
    }

    .box img {
        display: block;
        width: 20%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        font-size: .4rem;
        margin: 13px 0px;
        color: black;
        text-align: center;
    }

    /* New content */
    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: xx-small;
    }

    svg {
        width: 0px;
        height: 0px;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        -webkit-tap-highlight-color: transparent;
        transition-duration: .5s;
    }

    .social-tags a {
        -webkit-tap-highlight-color: transparent;
    }

    .social-tags a :hover {
        fill: brown;
    }
}

@media screen and (max-width:169px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 4rem;
        height: 4em;
        box-shadow: 0.5px 0.5px 1px 1px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 10px;
        transition-duration: .5s;
    }

    .box:hover {
        padding: 3px 3px;
    }

    .box img {
        display: block;
        width: 20%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        font-size: .4rem;
        margin: 13px 0px;
        color: black;
        text-align: center;
    }

    /* New content */
    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: 6px;
    }

    svg {
        width: 0px;
        height: 0px;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        width: 7px;
        height: 7px;
        -webkit-tap-highlight-color: transparent;
        transition-duration: .5s;
    }

    .social-tags a {
        -webkit-tap-highlight-color: transparent;

    }

    .social-tags a :hover {
        fill: brown;
    }
}

@media screen and (max-width:70px) {
    body {
        background-color: khaki;
    }

    .box {
        padding: 3px 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 2em;
        height: 3em;
        box-shadow: 0.5px 0.5px 1px 1px rgb(255, 0, 0);
        background-color: rgb(255, 250, 210);
        border-radius: 10px;
        transition-duration: .5s;
    }

    .box img {
        display: block;
        width: 20%;
        height: auto;
        margin: auto;
        border-radius: 50%;
    }

    .text p {
        font-family: 'Oswald', sans-serif;
        font-size: .2rem;
        margin: 13px 0px;
        color: black;
        text-align: center;
    }

    /* New content */
    h2 {
        font-family: 'Titillium Web', sans-serif;
        color: red;
        text-align: center;
        font-size: 6px;
    }

    svg {
        width: 0px;
        height: 0px;
    }

    .social-tags {
        text-align: center;
    }

    .social-tags a svg {
        width: 2px;
        height: 2px;
        -webkit-tap-highlight-color: transparent;
        transition-duration: .5s;
    }

    .social-tags a {
        -webkit-tap-highlight-color: transparent;

    }

    .social-tags a :hover {
        fill: brown;
    }
}
