* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    color: white;
}

#navbar {
    display: flex;
    flex-direction: row;
    /* using relative positon we can writ from navbar */
    justify-content: center;
    position: relative;
    background-color: black;
    width: 100%;
}

/* name */
.name {
    font-family: 'Noto Sans Mono', monospace;
    padding: 15px 25px;
    font-size: 20px;
    cursor: default;
}

/* items */
#navbar ul {
    display: block;
    display: flex;
    margin-left: auto;
}

#navbar ul li {
    list-style-type: none;
    font-size: 1.4rem;
    padding: 9px 20px;
}

#navbar ul li a {

    -webkit-tap-highlight-color: transparent;


    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    transition-duration: .4s;
    padding: 3px 0px;
}

#navbar ul li a:hover {
    -webkit-tap-highlight-color: transparent;
    /* border-radius: 14px; */
    /* background-color: white; */
    border-bottom: 3px solid rgb(210, 210, 210);
    padding-bottom: 7px;
    border-radius: 5px;
    color: rgb(210, 210, 210);
}
#navbar ul li a:active{
    color: aqua;
}
@media only screen and (max-width: 505px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .name {
        text-align: center;
    }

    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: 1.2rem;
        padding: 9px 20px;
    }

    #navbar ul li a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 0px;
    }

    #navbar ul li a:hover {
        -webkit-tap-highlight-color: transparent;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}


@media only screen and (max-width: 282px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .name {
        font-size: 1rem;
        text-align: center;
    }

    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: .6rem;
        padding: 9px 20px;
    }

    #navbar ul li a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 0px;
    }

    #navbar ul li a:hover {
        -webkit-tap-highlight-color: transparent;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}

@media screen and (max-width:250px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: black;
        overflow-x: auto;
    }

    .name {
        font-size: .7rem;
        text-align: center;
    }

    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: .4rem;
        padding: 9px 20px;
    }

    #navbar ul li a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 0px;
    }

    #navbar ul li a:hover {
        -webkit-tap-highlight-color: transparent;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}


@media screen and (max-width:169px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: black;
        overflow-x: auto;
    }

    .name {
        font-size: .5rem;
        text-align: center;
    }

    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: .2rem;
        /* padding: 9px 20px; */
    }

    #navbar ul li a {

        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 8px;
    }

    #navbar ul li a:hover {
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}


@media screen and (max-width:151px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: black;
        overflow-x: auto;
    }

    .name {
        font-size: .2rem;
        text-align: center;
    }

    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: .2rem;
        padding: 0px 1px;
    }

    #navbar ul li a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 1px;
    }

    #navbar ul li a:hover {
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}
