* {
    margin: 0;
    padding: 0;
    color: white;
}

#navbar {
    display: flex;
    flex-direction: row;
    /* using relative positon we can writ from navbar */
    position: relative;
    background-color: black;
    width: 100%;
}

/* name */
.name {
    font-family: 'Noto Sans Mono', monospace;
    padding: 15px 25px;
    font-size: 20px;
    cursor: default;
}

/* items */
#navbar ul {
    display: block;
    display: flex;
    margin-left: auto;
}

#navbar ul li {
    list-style-type: none;
    font-size: 1.4rem;
    padding: 9px 20px;
}

#navbar ul li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    transition-duration: .4s;
    padding: 3px 0px;
}

#navbar ul li a:hover {
    border-radius: 14px;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 505px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .name {
        text-align: center;
    }
    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: 1.2rem;
        padding: 9px 20px;
    }

    #navbar ul li a {
        
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 0px;
    }

    #navbar ul li a:hover {
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}


@media only screen and (max-width: 282px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .name {
        font-size: 1rem;
        text-align: center;
    }
    #navbar ul {
        display: flex;
        margin: auto;
    }

    #navbar ul li {
        list-style-type: none;
        font-size: .6rem;
        padding: 9px 20px;
    }

    #navbar ul li a {
        
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        transition-duration: .4s;
        padding: 3px 0px;
    }

    #navbar ul li a:hover {
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}